@import "tailwindcss";

@theme {
  --font-sans: "Sora", ui-sans-serif, system-ui, sans-serif;

  --color-brand-dark: #111827;
  --color-brand-surface: #1F2937;
  --color-brand-primary: #818CF8;
  --color-brand-primary-hover: #6366F1;
  --color-brand-muted: #9CA3AF;
}
